--
-- PostgreSQL database dump
--

\restrict CiFxgm7ed59acPTBwGj4hZKabS3gWKtfOc9A63ycAgMXL81Al3wUj0QIgpZqSma

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    name text NOT NULL,
    cell text NOT NULL,
    telephone text,
    observation text
);


ALTER TABLE public.customer OWNER TO postgres;

--
-- Name: customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_id_seq OWNER TO postgres;

--
-- Name: customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_id_seq OWNED BY public.customer.id;


--
-- Name: item_maintenance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_maintenance (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    value_unity double precision NOT NULL,
    serviceorder_id integer NOT NULL,
    maintenance_id integer,
    description text
);


ALTER TABLE public.item_maintenance OWNER TO postgres;

--
-- Name: item_maintenance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_maintenance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_maintenance_id_seq OWNER TO postgres;

--
-- Name: item_maintenance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_maintenance_id_seq OWNED BY public.item_maintenance.id;


--
-- Name: item_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_material (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    quantity numeric(10,2) NOT NULL,
    value_unity double precision NOT NULL,
    serviceorder_id integer NOT NULL,
    material_id integer NOT NULL,
    receipt text,
    supplier text
);


ALTER TABLE public.item_material OWNER TO postgres;

--
-- Name: item_material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_material_id_seq OWNER TO postgres;

--
-- Name: item_material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_material_id_seq OWNED BY public.item_material.id;


--
-- Name: maintenancejob; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenancejob (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    name text NOT NULL,
    group_id integer CONSTRAINT maintenancejob_group_id_not_null1 NOT NULL,
    value_unit double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public.maintenancejob OWNER TO postgres;

--
-- Name: maintenancejob_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenancejob_group (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "group" text NOT NULL
);


ALTER TABLE public.maintenancejob_group OWNER TO postgres;

--
-- Name: maintenancejob_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenancejob_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenancejob_group_id_seq OWNER TO postgres;

--
-- Name: maintenancejob_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenancejob_group_id_seq OWNED BY public.maintenancejob_group.id;


--
-- Name: maintenancejob_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenancejob_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenancejob_id_seq OWNER TO postgres;

--
-- Name: maintenancejob_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenancejob_id_seq OWNED BY public.maintenancejob.id;


--
-- Name: material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    name text NOT NULL,
    group_id integer CONSTRAINT material_group_id_not_null1 NOT NULL
);


ALTER TABLE public.material OWNER TO postgres;

--
-- Name: material_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_group (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "group" text NOT NULL
);


ALTER TABLE public.material_group OWNER TO postgres;

--
-- Name: material_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_group_id_seq OWNER TO postgres;

--
-- Name: material_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_group_id_seq OWNED BY public.material_group.id;


--
-- Name: material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_id_seq OWNER TO postgres;

--
-- Name: material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_id_seq OWNED BY public.material.id;


--
-- Name: serviceorder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.serviceorder (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    arrived_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    customer_id integer NOT NULL,
    diagnosis text,
    entry_km numeric(10,2) DEFAULT 0 NOT NULL,
    observation text,
    professional text,
    vehicle_id integer NOT NULL,
    subtotal double precision DEFAULT 0 NOT NULL,
    priority integer,
    status integer NOT NULL,
    paid double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public.serviceorder OWNER TO postgres;

--
-- Name: serviceorder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.serviceorder_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.serviceorder_id_seq OWNER TO postgres;

--
-- Name: serviceorder_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.serviceorder_id_seq OWNED BY public.serviceorder.id;


--
-- Name: vehicle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicle (
    id integer NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    license_plate text NOT NULL,
    brand text,
    model text,
    customer_id integer
);


ALTER TABLE public.vehicle OWNER TO postgres;

--
-- Name: vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicle_id_seq OWNER TO postgres;

--
-- Name: vehicle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicle_id_seq OWNED BY public.vehicle.id;


--
-- Name: customer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer ALTER COLUMN id SET DEFAULT nextval('public.customer_id_seq'::regclass);


--
-- Name: item_maintenance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_maintenance ALTER COLUMN id SET DEFAULT nextval('public.item_maintenance_id_seq'::regclass);


--
-- Name: item_material id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_material ALTER COLUMN id SET DEFAULT nextval('public.item_material_id_seq'::regclass);


--
-- Name: maintenancejob id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenancejob ALTER COLUMN id SET DEFAULT nextval('public.maintenancejob_id_seq'::regclass);


--
-- Name: maintenancejob_group id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenancejob_group ALTER COLUMN id SET DEFAULT nextval('public.maintenancejob_group_id_seq'::regclass);


--
-- Name: material id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material ALTER COLUMN id SET DEFAULT nextval('public.material_id_seq'::regclass);


--
-- Name: material_group id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_group ALTER COLUMN id SET DEFAULT nextval('public.material_group_id_seq'::regclass);


--
-- Name: serviceorder id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceorder ALTER COLUMN id SET DEFAULT nextval('public.serviceorder_id_seq'::regclass);


--
-- Name: vehicle id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle ALTER COLUMN id SET DEFAULT nextval('public.vehicle_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer (id, created_at, name, cell, telephone, observation) FROM stdin;
1	2026-08-19 00:45:48.726-03	Fabio Matheus Pereira Castro	92222222222	32323232	\N
\.


--
-- Data for Name: item_maintenance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.item_maintenance (id, created_at, value_unity, serviceorder_id, maintenance_id, description) FROM stdin;
3	2026-08-19 21:59:37.564-03	232	2	68	
4	2026-08-21 23:49:44.965-03	25	1	71	
5	2026-08-21 23:49:44.983-03	252	1	73	
1	2026-08-19 00:47:25.614-03	1400	1	54	
2	2026-08-19 01:24:18.789-03	23	1	74	
6	2026-08-21 23:51:11.644-03	2	1	76	
7	2026-08-21 23:51:11.664-03	5	1	75	
\.


--
-- Data for Name: item_material; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.item_material (id, created_at, quantity, value_unity, serviceorder_id, material_id, receipt, supplier) FROM stdin;
1	2026-08-19 00:47:25.665-03	4.00	232	1	67	24234	Auto Pe├ºas
2	2026-08-19 01:29:15.658-03	2.00	22	1	66	24234	Auto Pe├ºas
3	2026-08-19 21:59:37.618-03	14.00	2	2	67	112	Auto Pe├ºas
4	2026-08-19 21:59:37.618-03	2.00	200	2	104	112	Auto Pe├ºas
\.


--
-- Data for Name: maintenancejob; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenancejob_group; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_group (id, created_at, "group") FROM stdin;
1	2026-08-18 21:35:25.265008-03	├ôleos & Fluidos
2	2026-08-18 21:35:25.265008-03	Filtros
3	2026-08-18 21:35:25.265008-03	Freios
4	2026-08-18 21:35:25.265008-03	Suspens├úo & Dire├º├úo
5	2026-08-18 21:35:25.265008-03	Motor
6	2026-08-18 21:35:25.265008-03	Arrefecimento
7	2026-08-18 21:35:25.265008-03	El├®trico
8	2026-08-18 21:35:25.265008-03	Transmiss├úo & Embreagem
9	2026-08-18 21:35:25.265008-03	Ar-condicionado
10	2026-08-18 21:35:25.265008-03	Acabamentos & Consum├¡veis
\.


--
-- Data for Name: serviceorder; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.serviceorder (id, created_at, arrived_at, customer_id, diagnosis, entry_km, observation, professional, vehicle_id, subtotal, priority, status, paid) FROM stdin;
2	2026-08-19 21:59:37.463-03	2026-08-19 21:58:30.717-03	1	Lanterna ruim	3232.00	\N	Jo├úo Calazans	1	660	1	3	660
1	2026-08-19 00:47:25.555-03	2026-08-19 00:46:09.963-03	1	Caindo aos peda├ºos!	0.00	\N	Jo├úo Calazans	1	2491	1	1	2395
\.


--
-- Data for Name: vehicle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vehicle (id, created_at, license_plate, brand, model, customer_id) FROM stdin;
1	2026-08-19 00:46:04.188-03	Asad232	Honda	Cibiv	1
\.


--
-- Name: customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_id_seq', 1, true);


--
-- Name: item_maintenance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.item_maintenance_id_seq', 7, true);


--
-- Name: item_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.item_material_id_seq', 4, true);


--
-- Name: maintenancejob_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenancejob_group_id_seq', 47, true);


--
-- Name: maintenancejob_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenancejob_id_seq', 89, true);


--
-- Name: material_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_group_id_seq', 21, true);


--
-- Name: material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_id_seq', 107, true);


--
-- Name: serviceorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.serviceorder_id_seq', 2, true);


--
-- Name: vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicle_id_seq', 1, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: item_maintenance item_maintenance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_maintenance
    ADD CONSTRAINT item_maintenance_pkey PRIMARY KEY (id);


--
-- Name: item_material item_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_material
    ADD CONSTRAINT item_material_pkey PRIMARY KEY (id);


--
-- Name: maintenancejob_group maintenancejob_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenancejob_group
    ADD CONSTRAINT maintenancejob_group_pkey PRIMARY KEY (id);


--
-- Name: maintenancejob maintenancejob_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenancejob
    ADD CONSTRAINT maintenancejob_pkey PRIMARY KEY (id);


--
-- Name: material_group material_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_group
    ADD CONSTRAINT material_group_pkey PRIMARY KEY (id);


--
-- Name: material material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT material_pkey PRIMARY KEY (id);


--
-- Name: serviceorder serviceorder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceorder
    ADD CONSTRAINT serviceorder_pkey PRIMARY KEY (id);


--
-- Name: vehicle vehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle
    ADD CONSTRAINT vehicle_pkey PRIMARY KEY (id);


--
-- Name: customer_cell_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX customer_cell_key ON public.customer USING btree (cell);


--
-- Name: maintenancejob_group_group_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX maintenancejob_group_group_key ON public.maintenancejob_group USING btree ("group");


--
-- Name: maintenancejob_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX maintenancejob_name_key ON public.maintenancejob USING btree (name);


--
-- Name: material_group_group_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX material_group_group_key ON public.material_group USING btree ("group");


--
-- Name: material_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX material_name_key ON public.material USING btree (name);


--
-- Name: vehicle_license_plate_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX vehicle_license_plate_key ON public.vehicle USING btree (license_plate);


--
-- Name: item_maintenance item_maintenance_maintenance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_maintenance
    ADD CONSTRAINT item_maintenance_maintenance_id_fkey FOREIGN KEY (maintenance_id) REFERENCES public.maintenancejob(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: item_maintenance item_maintenance_serviceorder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_maintenance
    ADD CONSTRAINT item_maintenance_serviceorder_id_fkey FOREIGN KEY (serviceorder_id) REFERENCES public.serviceorder(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: item_material item_material_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_material
    ADD CONSTRAINT item_material_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.material(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: item_material item_material_serviceorder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_material
    ADD CONSTRAINT item_material_serviceorder_id_fkey FOREIGN KEY (serviceorder_id) REFERENCES public.serviceorder(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: maintenancejob maintenancejob_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenancejob
    ADD CONSTRAINT maintenancejob_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.maintenancejob_group(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: material material_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT material_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.material_group(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: serviceorder serviceorder_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceorder
    ADD CONSTRAINT serviceorder_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: serviceorder serviceorder_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.serviceorder
    ADD CONSTRAINT serviceorder_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicle(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: vehicle vehicle_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicle
    ADD CONSTRAINT vehicle_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict CiFxgm7ed59acPTBwGj4hZKabS3gWKtfOc9A63ycAgMXL81Al3wUj0QIgpZqSma

